@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* centratura generale */

header, section, footer {
    max-width: 1200px;
    margin: 0 auto;
}

    /* HEADER */

header {
    min-height: 70px;
}

/* logo */

div.logo-container {
    line-height: 70px;
}

img.logo {
    height: 70px;
}

/* menu */

nav > ul.menu-nav > li {
    list-style: none;
    padding: 7px 7px 30px;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    color: #6e6e6e;
}

nav > ul.menu-nav > li:first-child {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

    /*  MAIN */ 
/* sezione jumbo */

div.jumbo {
    background-image: url("img/banner.jpg");
    /* object-fit: cover; */
    /* object-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;   
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

div.jumbo > div.caption {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 50%;
    color: white;
    z-index: 2;
}

/* sezione contenuti */

div.main-content > #title {
    min-height: 100px;
    margin-bottom: 10px;
    padding: 20px 0 20px;
}

div.main-content > div#title > h2 {
    font-size: 30px;
}

div.main-content > div#title > h6 {
    font-size: 18px;
    color: #6e6e6e;
}

.sidebar, #content {
    float: left;
    min-height: 200px;
}

div.main-content > div.sidebar {
    width: 20%;
    margin-bottom: 10px;
}

div.main-content > div#content {
    width: calc(100% - 20% - 20% - 20px);
    margin: 0 10px 10px;
}

div.main-content > div.sidebar > div.img, div#content > div.img {
    min-height: 200px;
    max-width: 100%;
    position: relative;
}

div.main-content > div#left > .img, div#right > .img , div#content > .img {
    /* object-fit: cover; */
    /* object-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
}

div.main-content > div.sidebar#left > .img {
    background-image: url("img/img-1.jpg");
    background-position: center center;
}

div.main-content > div#content > .img {
    background-image: url("img/banner-2.jpg");
    background-position: center center;
}

div.main-content > div.sidebar#right > .img {
    background-image: url("img/img-3.jpg");
    background-position: bottom center;
}

/* hover */
div.main-content > div.sidebar#left > div.img:hover {
    background-image: url("img/img-4.jpg");
}

div.main-content > div.sidebar#right > div.img:hover {
    background-image: url("img/img-6.jpg");
}

div.main-content > div#content > div.img:hover {
    background-image: url("img/img-5.jpg");
    background-size: contain;
}

div.main-content > div.sidebar > div.card-info, div#content > div.card-info {
    padding-top: 20px;
}

div.main-content > div.sidebar > div.card-info > h3, div#content > div.card-info > h3 {
    padding-bottom: 10px;
}

div.main-content > div.sidebar > div.card-info p, div#content > div.card-info p {
    color: #9c9c9c;
}

    /* FOOTER */

footer > div.foot {
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
}

footer > div.foot > span#heart {
    color: red;
    font-size: 25px;
}

/* classi riutilizzate/riutilizzabili*/

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: black;
    opacity: 0.2;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* debug */

.debug header {
    background-color: rgb(205, 203, 115);
}

.debug footer {
    background-color: rgb(162, 0, 205);
}

.debug section.jumbo {
    background-color: rgb(200, 177, 109);
}

.debug div.main-content {
    background-color: steelblue;
}

.debug div.main-content > div.sidebar {
    background-color: tomato;
}

.debug div.main-content > div#title {
    background-color: rgb(221, 235, 96);
}

.debug div.main-content > div#content {
    background-color: orangered;
}