* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* centratura generale */
header, section, footer {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    min-height: 70px;
}

/* logo */
div.logo-container {
    line-height: 70px;
}

img.logo {
    height: 70px;
}

/* menu */
nav > ul.menu-nav > li {
    list-style: none;
    padding: 7px 7px 30px;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    color: #6e6e6e;
}

nav > ul.menu-nav > li:first-child {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* main */ 

/* sezione jumbo */
div.jumbo {
    background-image: url("img/banner.jpg");
    /* object-fit: cover; */
    /* object-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;   
    position: relative;
}

div.jumbo > div.caption {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 50%;
    color: white;
    z-index: 2;
}

/* sezione contenuti */
.title {
    min-height: 100px;
    margin-bottom: 10px;
    padding: 20px 0 20px;
}

div.main-content > div.title > h1 {
    font-size: 40px;
}

div.main-content > div.title > h6 {
    font-size: 18px;
    color: #6e6e6e;
}

.sidebar, .content {
    float: left;
    min-height: 500px;
}

.sidebar {
    width: 250px;
    margin-bottom: 10px;
}

.content {
    width: calc(100% - 250px - 250px - 20px);
    margin: 0 10px 10px;
}

footer {
    min-height: 100px;
}

/* classi riutilizzate/riutilizzabili*/

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: black;
    opacity: 0.2;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* debug */

header.debug {
    background-color: rgb(255, 253, 115);
}

footer.debug {
    background-color: rgb(162, 0, 255);
}

section.jumbo.debug {
    background-color: rgb(250, 177, 109);
}

section.debug > div.main-content {
    background-color: steelblue;
}

section.debug > div.main-content > div.title, div.sidebar, div.content {
    background-color: tomato;
}




